footer{
  
    margin:0 auto;
    width: 100%;
    display:flex;
    background:#020d10;
   
    height:100%;

    } 

    footer p {
  
        color:#ffffff;
        padding-top:50px;
      letter-spacing:.1em;
        font-weight:100;
        font-size:10px;
        line-height:.788em;
    
       
        } 
    .footercontainer{
  
        margin:0 auto;
        width: 100%;
        padding:40px;
        height:100%;
        } 

        .w22-column {
            
        width: 100%;
        text-align: center; 
       
    
        }
          .footerrow{
            width:100%px;
            max-width:1280px;
              margin: 0 auto;
    
    
          text-align: center;   
          
          }
          .foooterrow:after {
            content: "";
            display: table;
            clear: both;
          
          }

          footer nav{

            padding:10px;
            display:inline-block;
           
            
          
            font-family: 'Questrial', sans-serif;
            color: white;
            font-size: 16px;
            font-weight: bolder;
          }
          nav a{
            color :#ffffff;  
          margin-left:10px;
          font-weight:lighter;
          }
          nav a:hover{
            color :#4a6f8e;  
         
          }

          footer .fa {
 
            
             margin-top:10px;
                  padding: 10px;
                 width:40px;
                 text-align: center;
                 text-decoration: none;
                border-radius:50%;
                   margin-left: 5px;
               }
            
               footer .fa-facebook:hover {
                 opacity:1;
                 background:#4e72a9;
                 color:white;
               }
            
               footer .fa-twitter:hover {
                  opacity: 1;
                  background:#26b8eb;
                  color: white
                }
                footer .fa-instagram:hover {
                  opacity: 1;
                  background:#272827;
                  color:white;
                  
                }
               footer .fa-facebook {
                background: #ffffff;;
                color:   #272827;
              
               }
            
               footer .fa-twitter {
                background: #ffffff;;
                color:   #272827;
               }
               footer .fa-instagram {
                background: #ffffff;;
                color:   #272827;
               }
            
              